<div class="center">

	<div class="text">
		<h3>{{{envEffects-title}}}</h3>
		<h3>{{{envEffects-p1}}}</h3>
	</div>


	<div id="wally" class="subject sleep">

		<div class="oneStat">
			<p>{{{envEffects-fish1}}}</p>
			<h1 class="bigNumber">{{{envEffects-fish2}}}</h1>
			<p>{{{envEffects-fish3}}}</p>
		</div>
		
		<div class="pic">
			<img src="../images/walleye.png" alt="walleye picture"/>
		</div>

	</div>

	
	<div id="bass" class="subject sleep">

		<div class="twoStat">
			<p>{{{envEffects-stream1}}}</p>
			<h1 class="bigNumber">{{{envEffects-stream2}}}</h1>
			<p class="spacer">{{{envEffects-stream3}}}</p>
		
			<h1 class="bigNumber">{{{envEffects-stream4}}}</h1>
			<p>{{{envEffects-stream5}}}</p>
		</div>
		
		<div class="pic">
			<img src="../images/lm_bass.png" alt="largemouth bass picture"/>
		</div>

	</div>
	
</div>