<div class="center">

	<div class="figure3Text text">
		<h3 class="title">{{ fishEconomy-title }}</h3>
		<p id="first">{{ fishEconomy-intro }}</p>
		<p id="second" class="gone">{{ fishEconomy-p1 }}</p>
	</div> 
	
	<div class="figure sleep" id="fishTemperature">
	  <object type="image/svg+xml" data="{{ fishTemperature }}">
    </object>
  </div>

</div>
