<div id="fishManagement-keynote" >
  <div class="keynote">
		<h2>{{ fishManagement-keynote-1 }}</h2>
  </div>
</div>

<div id="fishManagement" class="center">
	  <ul class='list'>
	  {{#fishManagement-bullets}}  <li>{{.}}</li>
	  {{/fishManagement-bullets}}</ul>
	  <div class="insetPictureContainer">
	    <img src="images/MilleLacs_sun_boats.jpg" alt="Fishing boats out on a lake." title="Fishing boats"/>
	  </div>
	  <ul class='list'>
	    <p>{{ fishManagement-p }}</p>
	  </ul>
</div>
