<div id="fishManagement-keynote" >
  <div class="keynote">
		<h2>{{ fishManagement-keynote-1 }}</h2>
  </div>
</div>

<div id="fishManagement" class="center">
	  <ul class='list'>
	  {{#fishManagement-bullets}}  <li>{{.}}</li>
	  {{/fishManagement-bullets}}</ul>
	  <div class="insetPictureContainer">
	    <img src="images/MilleLacs_sun_boats.jpg"/>
	  </div>
	  <div class="captionContainer">
	    <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo sit amet eros quis rutrum. Morbi ipsum ligula, viverra at risus at, eleifend dignissim neque. Integer in dui tellus. Sed ut nulla odio. Mauris id eros metus.</p>
	  </div>
</div>
