<div class="center">

	<div class="fishManagement text">
		<h3 class="title">{{ fishManagement-title }}</h3>
		<p id="first">{{ fishManagement-intro }}</p>
		<p id="second" class="gone">{{ fishManagement-p1 }}</p>
	</div> 
	
	<div class="figure sleep" id="fishManagementFig">
	  <object type="image/svg+xml" data="{{ fishManagementFig }}">
    </object>
  </div>

</div>
