<footer>
  <div class='list' id='footer'>
     <div class="p-share">
      <div>
        <a href="http://www.facebook.com/sharer.php?src=bm&u={{ permalink }}&t={{ title }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a>
        <a href="http://twitter.com/intent/tweet?url={{ permalink }}&text={{ title }}&tw_p=tweetbutton" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a>
        <a href="https://plus.google.com/share?url={{ permalink }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-google-plus"></i></a>
        <a href="https://www.reddit.com/submit?url={{ permalink }}&title={{ title }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a>
        </div>
    </div>
  <p>
    {{ footer-text-1 }}
	{{#footer-text-link-NECSC}}{{>externallink}}{{/footer-text-link-NECSC}}
	{{ footer-text-2 }}
	{{#footer-text-link-WIDNR}}{{>externallink}}{{/footer-text-link-WIDNR}}
	{{ footer-text-3 }}
	{{#footer-text-link-UW}}{{>externallink}}{{/footer-text-link-UW}}
	{{ footer-text-4 }}
	{{#footer-text-link-NCCWSC}}{{>externallink}}{{/footer-text-link-NCCWSC}}
	{{ footer-text-5 }}
	
	
  </p>
  <br/>
  <p>
    {{ footer-team }} 
  </p>
  <br/>
  <p>
    {{ footer-paper-1 }} 
    {{#paper-link}}{{>externallink}}{{/paper-link}}
    {{ footer-paper-2 }} 
    {{#data-link}}{{>externallink}}{{/data-link}}
    {{ footer-paper-3 }}
  </p>
  <section id="teamFaces">
        <br/>      
		<div id="noMarginLeft" class="teamFace">
			<a href="http://gretchenhansen.squarespace.com/">
				<img src="images/ghansen.png" alt="Gretchen Hansen" title="Gretchen Hansen"/>
			</a>
			<p>
			  <a class="contactScience" href="mailto:Gretchen.Hansen@state.mn.us">Gretchen Hansen</a>
			</p>
		</div>
		<div id="noMarginLeft" class="teamFace">
			<a href="http://cida.usgs.gov/people/jread.html">
				<img src="images/jread.jpg" alt="Jordan Read" title="Jordan Read"/>
			</a>
			<p>
			  <a class="contactScience" href="mailto:jread@usgs.gov">Jordan Read</a>
			</p>
		</div>
		<div id="noMarginLeft" class="teamFace">
			<a href="http://cida.usgs.gov/people/lwinslow.html">
				<img src="images/lwinslow.jpg" alt="Luke Winslow" title="Luke Winslow"/>
			</a>
			<p>
			  <a class="contactScience" href="mailto:lwinslow@usgs.gov">Luke Winslow</a>
			</p>
		</div>
		<div id="noMarginLeft" class="teamFace">
			<img src="images/jhansen.png" alt="Jon Hansen" title="Jon Hansen"/>
			<p>
			  <a class="contactScience" href="mailto:jon.hansen@state.mn.us">Jon Hansen</a>
			</p>
		</div>
		<p>
    {{ footer-vizlab }} {{ #footer-vizlab-link-github }} {{ >externallink }} {{ /footer-vizlab-link-github }}
  </p>
	</div>
</footer>
