<div class="center">

	<div class="futureWarming text">
		<h3 class="title">{{ futureWarming-title }}</h3>
		<p id="first">{{ futureWarming-intro }}</p>
		<p id="second" class="gone">{{ futureWarming-p1 }}</p>
	</div> 
	
	<div class="figure sleep" id="futureWarmingFig">
	  <object type="image/svg+xml" data="{{ futureWarmingFig }}">
    </object>
  </div>

</div>
