<div class="center">

	<div class="futureSuitability text">
		<h3 class="title">{{ futureSuitability-title }}</h3>
		<p id="first">{{ futureSuitability-intro }}</p>
		<p id="second" class="gone">{{ futureSuitability-p1 }}</p>
	</div> 
	
	<div class="figure sleep" id="futureSuitabilityFig">
	  <object type="image/svg+xml" data="{{ futureSuitabilityFig }}">
    </object>
  </div>

</div>
