<div id="futureWarming-keynote">
  <div class="keynote">
		<h2>{{ futureWarming-keynote-1 }}</h2>
  </div>
</div>

<div id="futureWarming" class="center">
<ul class='list'>
	  {{#futureClimate-bullets}}  <li>{{.}}</li>
	  {{/futureClimate-bullets}}</ul>
  <object id="futureClimate" class="svgFig" type="image/svg+xml" data="futureClimate-desktop.svg" title="Predicted rise in global avg air temp">From 2000 to 2090, global average air temperatures are predicted to rise about 2.5 degrees Farenheit in a low emissions scenario and over 5 degrees Farenheit in a high emissions scenario.</object>
  <div class="captionContainer">
	    <p class="caption">{{ futureClimate-caption }}</p>
	  </div>
	  <ul class='list'>
	  {{#futureWarming-bullets}}  <li>{{.}}</li>
	  {{/futureWarming-bullets}}</ul>
	  <object id="futureWarming" class="svgFig" type="image/svg+xml" data="futureWarmingFig-desktop.svg" title="Predicted future growing degree days for example lakes">Water temperature growing degree days are predicted to increase for Trout Lake, Green Lake, and Lake Mendota for 2040 to 2064 and again for 2065 to 2089.</object>
	  <div class="captionContainer">
	    <p class="caption">{{ futureWarming-caption }}</p>
	  </div>
</div>
