<div id="futureWarming-keynote">
  <div class="keynote">
		<h2>{{ futureWarming-keynote-1 }}</h2>
  </div>
</div>

<div id="futureWarming" class="center">
	  <ul class='list'>
	  {{#futureWarming-bullets}}  <li>{{.}}</li>
	  {{/futureWarming-bullets}}</ul>
	  <object id="futureWarming" class="svgFig" data="futureWarmingFig-desktop.png"></object>
	  <div class="captionContainer">
	    <p class="caption">{{ futureWarming-caption }}</p>
	  </div>
</div>
