<div id="welcome-keynote">
  	<div class="keynote">
		<h1>{{ welcome }}</h1>
		<h2>{{ welcome-sub }}</h2>
 	</div>
</div>
<div class="list">
		{{#welcome-paragraphs}}  <h2>{{.}}</h2>
	  {{/welcome-paragraphs}}
</div>
