<div id="welcome-keynote">
  <div class="dimmer"></div>
  <div class="keynote">
		<h1>{{ welcome }}</h1>
		<h3>{{ welcome-sub }}</h3>
 	</div>
 	<div id="socialMedia">
 	
 	  <div class="p-share">
 	  
      <div>
      <a href="http://www.facebook.com/sharer.php?src=bm&u={{ permalink }}&t={{ title }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a>
        <a href="http://twitter.com/intent/tweet?url={{ permalink }}&text={{ title }}&tw_p=tweetbutton" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a>
        <a href="https://plus.google.com/share?url={{ permalink }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-google-plus"></i></a>
        <a href="https://www.reddit.com/submit?url={{ permalink }}&title={{ title }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a>
        </div>
        
    </div>
    
 	</div>
 	
</div>
<div class="captionContainer" id="intro">
  </br>
  </br>
  </br>
		{{#welcome-paragraphs}}  <h1>{{.}}</h1>
	  {{/welcome-paragraphs}}
	</br>
	</br>

</div>
