<div id="welcome-keynote">
  <div class="dimmer">
  </div>
  <div class="keynote">
		<h1>{{ welcome }}</h1>
		<h3>{{ welcome-sub }}</h3>
 	</div>
</div>
<div class="list" id="intro">
  </br>
  </br>
  </br>
		{{#welcome-paragraphs}}  <h2>{{.}}</h2>
	  {{/welcome-paragraphs}}
	</br>
	</br>
	</br>
</div>
