<div id="lakeWarming-keynote">
  <div class="keynote">
		<h2>{{ lakeWarming-keynote-1 }}</h2>
  </div>
</div>

<div id="lakeWarming" class="center">
	  <div class="list">
	    <li>{{lakeWarming-l1}}</li>
	    <li>{{lakeWarming-l2}}</li>
	    <li>{{lakeWarming-l3}}</li>
	    <li>{{lakeWarming-l4}}</li>
	    <li>{{lakeWarming-l5}}</li>
	  </div>
	  <object id="lakeWarming" class="svgFig" data="contemporaryLakeTrends-desktop.png"></object>
</div>
