<div id="lakeWarming-keynote">
  <div class="keynote">
		<h2>{{ lakeWarming-keynote-1 }}</h2>
  </div>
</div>

<div id="lakeWarming" class="center">
	  <ul class='list'>
	  {{#lakeWarming-bullets}}  <li>{{.}}</li>
	  {{/lakeWarming-bullets}}</ul>
	  <object id="lakeWarming" class="svgFig" data="contemporaryLakeTrends-desktop.png"></object>
	  <div class="captionContainer">
	    <p class="caption"> {{ lakeWarming-caption }}</p>
	  </div>
</div>
