<div id="lakeWarming-keynote">
  <div class="keynote">
		<h2>{{ lakeWarming-keynote-1 }}</h2>
  </div>
</div>

<div id="lakeWarming" class="center">
	  <ul class='list'>
	  {{#lakeWarming-bullets}}  <li>{{.}}</li>
	  {{/lakeWarming-bullets}}</ul>
	  <object id="lakeWarming" class="svgFig" data="contemporaryLakeTrends-desktop.png" alt="Map showing lake warming as change in degrees Celcius for 2361 Wisconsin lakes from 1980 to 2014" title="WI lake warming since 1980"></object>
	  <div class="captionContainer">
	    <p class="caption"> {{ lakeWarming-caption }}</p>
	  </div>
</div>
