<div class="center">

	<div class="walleyeBass text">
		<h3 class="title">{{ walleyeBass-title }}</h3>
		<p id="first">{{ walleyeBass-intro }}</p>
		<p id="second" class="gone">{{ walleyeBass-p1 }}</p>
	</div> 
	
	<div id="fishGDDFig">
	  <object type="image/svg+xml" data="{{ fishGDDFig }}">
    </object>
  </div>

</div>
