<div id="walleyeDecline-keynote">
  	<div class="keynote">
		<h2>{{ walleyeDecline-keynote-1 }}</h2>
		<h2>{{ walleyeDecline-keynote-2 }}</h2>
 	</div>
</div>

<div id="walleyeDecline">
		
		<ul class='list'>
		  <li>{{ walleyeDecline-l1 }}</li>
		  <li>{{ walleyeDecline-l2 }}</li>
		  <li>{{ walleyeDecline-l3 }}</li>
		  <li>{{ walleyeDecline-l4 }}</li>
		  <li>{{ walleyeDecline-l5 }}</li>
		</ul>
		
	  <object id="walleyeDeclineSVG" type="image/svg+xml" class="svgFig" data="{{ wallyTrendsFig }}">
    	</object>
</div>
	
<div id="bassDecline">
		
	  <object id="bassDeclineSVG" type="image/svg+xml" class="svgFig" data="{{ bassTrendsFig }}">
    	</object>
</div>	


