<div class="center">

	<div class="walleyeDecline text">
		<h3 class="title">{{ walleyeDecline-title }}</h3>
		<p id="first">{{ walleyeDecline-intro }}</p>
		<p id="second" class="gone">{{ walleyeDecline-p1 }}</p>
	</div> 
	
	<div class="figure sleep" id="walleyeDeclineFig">
	  <object type="image/svg+xml" data="{{ walleyeDeclineFig }}">
    </object>
  </div>

</div>
