<div id="walleyeBass-keynote">
  <div class="keynote">
		<h2>{{ walleyeBass-keynote-1 }}</h2>
		<h2>{{ walleyeBass-keynote-2 }}</h2>
  </div>
</div>


<div id="walleyeBass" class="center">
  <div class="list">
			<h3>{{walleyeBass-intro}}</h3>
			<ul>
				<li>{{walleyeBass-l1}}</li>
				<li>{{walleyeBass-l2}}</li>
				<li>{{walleyeBass-l3}}</li>
				<li>{{walleyeBass-l4}}</li>
			</ul>
		</div>
	  <object id="fishGDDFig" type="image/svg+xml" class="svgFig" data="{{ fishGDDFig }}"></object>
</div>


