<div id="walleyeBass-keynote">
  <div class="keynote">
		<h2>{{ walleyeBass-keynote-1 }}</h2>
		<h2>{{ walleyeBass-keynote-2 }}</h2>
  </div>
</div>


<div id="walleyeBass" class="center">
	  <object id="fishGDDFig" type="image/svg+xml" class="svgFig" data="{{ fishGDDFig }}"></object>
</div>


