<div id="walleyeDecline" class="center">
	  <object id="walleyeDeclineSVG" type="image/svg+xml" class="svgFig" data="{{ wallyTrendsFig }}">
    	</object>
	</div>
<div id="bassDecline" class="center">
	  <object id="bassDeclineSVG" type="image/svg+xml" class="svgFig" data="{{ bassTrendsFig }}">
    	</object>
	</div>	
